.container__createRecipe {
    background-color: var(--color-5);
    padding: 25px;
} 

.animation__opacity h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--color-4);
    font-weight: 700;
    font-size: 1.6em;
    padding: 20px;
    width: 100%;
}

.animation__opacity {
    opacity: 0;

    animation-fill-mode: forwards;
    view-timeline-name: --CreateReceta;
    view-timeline-axis: block;
    
    animation-timeline: --CreateReceta;
    animation-name: aparecer;

    animation-range: entry 10% cover 50%;
}

.btn-create {
    width: 100%;
    margin-top: 20px;
}

@keyframes aparecer {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

