.container__recipe {
    background-color: var(--color-2);
    width: 100%;
    height: auto;
    padding: 50px 0px;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

@media (min-width:768px) {
    .container__recipe {
        gap: 50px;
        padding: 50px 0px;
        border-radius: 160px 0px 0px 160px;
        transition: border-radius 1s ease-out;
    }
    
}
