.container__textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centra verticalmente */
}

.container__textarea textarea {
    width: 100%; /* Ancho inicial */
    height: 100px;
    font-size: .8em;
    font-weight: 500;
    border-color: orange;
    border-radius: 20px;
    padding: 20px;
    transition: all 1.2s ease;
    overflow: hidden;
    color: var(--color-4);
}

.container__textarea textarea:focus {
    border: 1px solid var(--color-4);
    width: 95%; /* Expande el ancho al hacer foco */
    height: 350px;
    transition: all 1s ease;
}

.container__textarea textarea::placeholder {
    color: var(--color-4);
}

.container__button-descrip {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.btn-descrip1 {
    width: 100%;
}

.btn-descrip2 {
    width: 20%;
}


@media (min-width:768px) {
    .container__textarea textarea {
        max-width: 500px;
    }
    
    .btn-descrip1 {
        width: 50%;
    }
    
    .btn-descrip2 {
        width: 20%;
    }
}

