form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
    margin-bottom: 60px;


    opacity: 0;
    transform: translateY(200px);
    
    view-timeline-name: --form;
    view-timeline-axis: block;
    
    animation-timeline: --form;
    animation-name: see;

    animation-range: entry 40% cover 55%;
    animation-fill-mode: both;
}


form h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.7em;
    padding: 30px;
    color: var(--color-2);
    text-shadow: 7px 4px 8px var(--color-3);
}

input, textarea {
    border-radius: 15px;
    border: none;
    width: 90%;
    max-width: 400px;
    height: 30px;
    font-size: .7rem;
    padding: 20px;
}

input::placeholder {
    font-size: 13px;
}

.descriptionRecipe {
    height: 55px;
    font-size: .7rem;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.descriptionRecipe:focus {
    height: 200px;
}

.container__ingredient {
    width: 90%;
    max-width: 400px;
    display: flex;
    justify-content: center;
}

.button__addIngredient, .button__removeIngredient {
    border-radius: 50%;
    transform: scale(.7);
}

.ul__addIngredient {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    gap: 6px; 
}  

.ul__addIngredient li {
    position: relative;
    font-size: .85rem;
    color: var(--color-2);
}

.button__removeIngredient {
    background-color: rgb(255, 0, 0);
    transform: scale(.5);
    border: none;
    color: var(--color-2);
    font-size: 1.2em;
    position: absolute;
    top: -8px;
    right: 10px;
}

@media (min-width:767px) {
    .ul__addIngredient {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        list-style: none;
        gap: 6px; 
    }  
}

@keyframes see {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}