:root {
    --background-color-card: #242323;
    --color-font: #fff;
    --backgroud-button-card: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    min-width: 150px;
    height: 200px;
    margin: 10px 0;
    background-color: var(--background-color-card);
    border-radius: 5px;
    color: var(--color-font);
    overflow: hidden;
}

.contain__imgCard {
    width: 100%;
    height: 70%;
}

.contain__imgCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contian__txtCard {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-card);
}

.contian__txtCard h2 {
    font-size: 12px;
    font-weight: 400;
}   

.contian__txtCard p {
    font-size: 15px;
    font-weight: 500;
}

.button__card {
    font-size: 10px;
    width: 100%;
    padding: 6px;
    color: #fff;
    background-color: var(--backgroud-button-card);
}

.button__card:hover {
    background-color: #080808;
}
